@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

  .form {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 35rem;
    gap: 1rem;

    input,
    textarea {
      padding: 0.5rem;
      border: 1px solid #213647;
      border-radius: 6px;
      font-size: 1.2rem;
      font-family: Open Sans, sans-serif;
      background-color: $brandColor;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     
    }


    small {
      color: red;
      font-size: 0.9rem;
    }

    .contact__successMessage {
      color: green;
      font-weight: bold;
      margin-top: 1rem;
      text-align: center;
    }
  }

  .infoWrapper {
    display: flex;
    flex: 1 1 50%;
    flex-direction: row;
    justify-content: left;
  }

  .infoBox {
    gap: 0rem;
    text-align: center;
    color: $complementaryColor;


    .contact__icon {
      font-size: 2.4rem;
      color: $complementaryColor;
      margin-bottom: 0.5rem;
    }

    h3 {
      margin: 0rem;
      font-size: 1.5em;
      color: $complementaryColor;
      text-align: center;
    }
  }

  





    
  
  