@use "sass:color";
@use '@/styles/scss/abstracts/' as *;


.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  gap: 1rem;

  input,
  textarea {
    padding: 0.6rem;
    border: 1px solid $highlightColor;
    border-radius: 6px;
    font-size: 1.1rem;
    font-family: Open Sans, sans-serif;
    background-color: $brandColor;
    box-shadow: 0 1px 2px;
    width: 100%;
    outline: none;
  }

  small {
    color: red;
    font-size: 0.9rem;
  }

  .contact__successMessage {
    color: green;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
  }
}


.infoBox {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  text-align: right;
  color: $complementaryColor;
  font-size: 1.5rem;
  width: 100%;
  max-width: 35rem;

  h3 {
    margin: 0;
    font-size: 2.5rem;
    color: $complementaryColor;
    text-align: right;
  }
}

.contact__icon {
  font-size: 2.5rem;
  color: $complementaryColor;
  margin-bottom: 0.5rem;
}


@media (max-width: 1023px) {
  .form {
    margin-left: 0;
    max-width: 100%;
  }

  .infoBox {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .form {
    gap: 0.8rem;

    input,
    textarea {
      font-size: 1rem;
    }
  }

  .infoBox {
    h3 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      text-align: center;
    }

    .infoBox {
      text-align: center;
      align-items: center;
    }

    .contact__icon { 
      align-items: center;
      text-align: center;
    }
  }
}



  





    
  
  