@use "sass:color";
@use '@/styles/scss/abstracts' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal {
  text-align: center;
  background: $primaryColor;
  color: $complementaryColor;
  padding: 2rem;
  border-radius: 18px;
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}


.close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}


.icon {
  width: 110px;
  height: 110px;
  object-fit: contain;
  margin-bottom: 1rem;
  opacity: 0.8;
}


@media (min-width: 1024px) and (max-width: 1366px) {
  .overlay {
    align-items: flex-start;
    padding-top: 6rem; 
  }
  .modal {
    max-height: 80vh; 
  }
}

