@use "sass:color";
@use '@/styles/scss/abstracts' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: $primaryColor;
  padding: 2rem;
  border-radius: 18px;
  width: 90%;
  max-width: 420px;
  position: relative;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
