@use "sass:color";
@use "@/styles/scss/abstracts" as *;


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.modal {
  background: $primaryColor;
  color: $complementaryColor;
  padding: 2rem;
  border-radius: 18px;
  width: 100%;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: $complementaryColor;
}


.icon {
  width: 110px;
  height: 110px;
  object-fit: contain;
  margin: 0 auto 1rem;
  display: block;
  opacity: 0.8;
}


.modal h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}


.content {
  text-align: left; 

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: $complementaryColor;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 600;
    color: $complementaryColor;
  }

  ul {
    padding-left: 1.2rem;

  }

  li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.6rem;
    font-weight: 400;
    color: $complementaryColor;
  }
}


@media (min-width: 1024px) and (max-width: 1366px) {
  .overlay {
    align-items: flex-start;
    padding-top: 6rem;
  }

  .modal {
    max-height: 80vh;
  }
}

@media (min-width: 430px) and (max-width: 932px) {

  .overlay {
   
    padding-top: 7rem;
  }
  .modal {
    padding-top: 7rem;
  }

  .close{
    margin-top: 1rem;
  }

}



