@use "sass:color";
@use '@/styles/scss/abstracts' as *;

.wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.titulo {
  text-align: center;
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  color: $complementaryColor;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1300px;
  margin: 2rem 2rem;
  padding: 2rem;
  justify-items: center;
}
