@use "sass:color";
@use '@/styles/scss/abstracts' as *;

.card {
  background-color: $primaryColor;
  border-radius: 32px;
  padding: 2rem 2rem;
  text-align: center;
  width: 100%;
  max-width: 320px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.icon {
  width: 110px;
  height: 110px;
  object-fit: contain;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  color: $complementaryColor;
}

.description {
  margin-top: 0.5rem;
  line-height: 1.5;
  font-size: 1.2rem;
  color: $complementaryColor;
  font-family: open sans, sans-serif;
}

.more {
  background-color: #1e293b;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;

  transition: 0.2s ease;
}

.more:hover {
  background-color: $complementaryColor;
}
