@use "sass:color";
@use '@/styles/scss/abstracts' as *;


.wrapper {
  background-color: white;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem 2rem 3rem 1rem;

  @media (max-width: 1023px) {
  .content {
  padding: 2rem 7rem 3rem 5rem;
  }
}
}

.titulo {
  text-align: center;
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  color: $complementaryColor;
  margin-bottom: 3rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;              
  justify-items: center;
}


@media (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .titulo {
    font-size: 2.6rem;
  }
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .content {
    padding: 2rem 1.5rem 3rem;
  }

  .titulo {
    font-size: 2.2rem;
  }
}


@media (min-width: 1024px) and (max-width: 1366px) {
  .content {
    max-width: 1200px;
    margin: 0rem 2rem ;       
  }
  .grid {
    gap: 1rem;
  }
}
