@use '@/styles/scss/abstracts/' as *;

.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font: inherit;
  cursor: pointer;
  color: $complementaryColor;
  background-color: $brandColor;
  border: 1px solid $brandColor;
  border-radius: 4px;

  &:hover, &:active {
    background-color: $highlightColor;
    border: 1px solid $highlightColor;
    color: $complementaryColor;
  }
}
