@use "sass:color";
@use '@/styles/scss/abstracts' as *;

.wrapper {
  background-color: $primaryColor;
  width: 100%;
}


.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0rem 4rem 2rem 4rem;
  max-width: 1300px;
  margin: 0 auto;
}


.left {
  display: flex;
  flex-direction: column;
}


.title {
  font-size: 5rem;
  font-family: "Work Sans", sans-serif;
  color: $complementaryColor;
}


.cta {
  margin-top: 1rem;
  background-color: $brandColor;
  margin-left: 0;
  color: $complementaryColor;
  padding: 1rem 1rem;
  font-size: 2rem;
  border-radius: 10px;
  width: fit-content;
  border: none;
  cursor: pointer;
}


.features {
  margin-top: 1rem;
  display: flex;
  font-size: 1.2rem;

  ul {
    list-style: none;
    padding: 0.5rem;
  }

  li::before {
    content: "✔️ ";
  }

  li {
    margin-bottom: 0.6rem;
  }
}


.right {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .content {
    gap: 3rem;
    padding: 2rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .features {
    font-size: 1.1rem;
  }
}

@media (max-width: 1366px) {
  .content {
    gap: 3rem;
    margin-left: 2rem;
  }
}


@media (max-width: 768px) {
  .content {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0rem;
    padding-top: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 2.6rem;
  }
  .right {
    align-items: center;
    margin: 0;
  }
}

