@use "sass:color";
@use '@/styles/scss/abstracts' as *;

.wrapper {
  width: 100%;
  display: flex;
  background-color: white;
  margin: 1rem 0rem;
  padding: 1rem;
  justify-content: center;
}

.titulo {
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  color: $complementaryColor;
}
