@use "sass:color";
@use "@/styles/scss/abstracts" as *;

.app {
  margin:0;
}

.main {
  width: 100%;        
  margin-top: 5rem;

@media (min-width: 768px) and (max-width: 1023px) {
  margin-top: 0;
}
}
