@use "sass:color";
@use "@/styles/scss/abstracts" as *;

.card {
  position: relative;
  background-color: $primaryColor;
  border-radius: 32px;
  padding: 3rem 2.5rem;
  text-align: center;
  width: 100%;
  max-width: 350px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.name {
  font-size: 1.4rem;
  font-weight: 700;
  color: $complementaryColor;
  margin-bottom: 0.5rem;
}

.testimony {
  font-size: 1.05rem;
  line-height: 1.6;
  color: color.scale($complementaryColor, $lightness: -10%);
  max-width: 90%;
  margin: 0 auto;
}

.quoteStart {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 4rem;
  color: $complementaryColor;
  line-height: 1;
}

.quoteEnd {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  font-size: 3rem;
  color: $complementaryColor;
  line-height: 1;
}


@media (min-width: 1024px) and (max-width: 1366px) {
  .card {
    max-width: 300px;      
    min-height: 340px;
    padding: 2.2rem 2rem;
    gap: 1rem;
  }

  .quoteStart {
    font-size: 3.2rem;
    top: 1.2rem;
    left: 1.6rem;
  }

  .quoteEnd {
    font-size: 2.4rem;
    bottom: 1.2rem;
    right: 1.6rem;
  }
}

@media (max-width: 1024px) {
  .card {
    max-width: 250px;
    max-height: 240px;
    padding: 2rem 1.8rem;
  }
}



