@use "sass:color";
@use '@/styles/scss/abstracts' as *;

.card {
  background-color: $primaryColor;
  border-radius: 32px;
  padding: 2rem 2rem;
  text-align: center;
  width: 100%;
  max-width: 350px;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.testimony {
  margin-top: 0.5rem;
  line-height: 1.5;
  font-size: 1.15rem;
  color: $complementaryColor;
}

