@use '@/styles/scss/abstracts/' as *;

.footerwrapper {
  background-color: $brandColor;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem 4rem;
  align-items: center;
  align-self: center;
  width: 100%;
  box-sizing: border-box;
}
  .socialIcons {
    display: flex;
    gap: 1rem;
  
    a {
      text-decoration: none;
    }
  }


