@use '../abstracts/' as *;

html, body {
  padding: 0;
  margin: 0;
  background-color: $primaryColor;
  font-family: 'open sans', sans-serif;
  height: 100%;
  
  ;
}

a {
  color: $complementaryColor;
  text-decoration: none;
}

